@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Aeonik';
    src: url('/Aeonik/AeonikTRIAL-Regular.otf') format('opentype'),
         url('/Aeonik/AeonikTRIAL-RegularItalic.otf') format('opentype'),
         url('/Aeonik/AeonikTRIAL-Bold.otf') format('opentype'),
         url('/Aeonik/AeonikTRIAL-BoldItalic.otf') format('opentype'),
         url('/Aeonik/AeonikTRIAL-Light.otf') format('opentype'),
         url('/Aeonik/AeonikTRIAL-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aeonik';
    src: url('/Aeonik/AeonikTRIAL-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aeonik';
    src: url('/Aeonik/AeonikTRIAL-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  /* src/global.scss */

  
:root {

    --ion-color-new-white: #fff;
}

.ion-color-white {
    --ion-color-base : var(--ion-color-new-white);
	--ion-color-base-rgb: var(--ion-color-new-white);;
	--ion-color-contrast: #000;
	--ion-color-contrast-rgb:#000;
	--ion-color-shade: var(--ion-color-new-white);
	--ion-color-tint: var(--ion-color-new-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --ion-color-new-white: #1e1e1e !important;
    }
  }

body, div, p,i, span, h1,h2,h3,h4,h5,h6, b, button, input {
    font-family: 'Aeonik', sans-serif;
}